<div>
  <% if task.status? %>
    <div>
      <%= link_to complete_project_task_path(@project, task), method: :patch do %>
        <i style="opacity:0.4;" class="fa fa-check-square" ></i>
      <% end %>
    </div>

    <div>
      <p style="opacity: 0.4;"><strike><%= task.name %></strike></p>
    </div>

    <div>
      <%= link_to edit_project_task_path(@project, task) do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div>

    <div class="trash">
      <%= link_to project_task_path(@project, task), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>

    <% else %>

    <div>
      <%= link_to complete_project_task_path(@project, task), method: :patch do %>
        <i class="fa fa-square"></i>
      <% end %>
    </div>


    <div>
      <p><%= task.name %></p>
    </div>

    <div>
      <%= link_to edit_project_task_path(@project, task) do %>
        <i class="fa fa-pencil" ></i>
      <% end %>
    </div>

    <div>
      <%= link_to project_task_path(@project, task), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>

    <% end %>

</div>
<hr>
