<div class="task_row" data-id="<%= task.id %>">
  <% if task.status? %>
      <div class="col-xs-1">
        <%= link_to complete_project_task_path(task.project, task), method: :patch, remote: true, class: :complete_project_task do %>
            <i class="fa fa-check-square-o"></i>
        <% end %>
      </div>

  <% else %>
      <div class="col-xs-1">
        <%= link_to complete_project_task_path(task.project, task), method: :patch, remote: true, class: :complete_project_task do %>
            <i class="fa fa-square-o"></i>
        <% end %>
      </div>
  <% end %>


  <%= form_for [task.project, task], remote: true do |f| %>
      <div class="col-xs-6 task">
        <%= f.label "#{task.name}", class: 'label_task_name' %>
        <%= f.text_field :name, class: 'input_task_name' %>
      </div>
      <div class="col-xs-3 task">
        <%= f.label " #{task.deadline}", class: 'label_task_name' %>
        <%= f.text_field :deadline, class: 'input_task_name' %>
        <input type="submit" style="display: none">
      </div>
  <% end %>


  <div class="col-xs-2 text-center hide">
    <i class="fa fa-sort">|</i>

    <%= link_to '', class: 'edit_task_name', remote: true do %>
        <i class="fa fa-pencil">|</i>
    <% end %>

    <%= link_to project_task_path(task.project.id, task), method: :delete, data: {confirm: "Are you sure?"}, class: :delete_task, remote: true do %>
        <i class="fa fa-times"></i>
    <% end %>
  </div>

</div>
