ancher
   <%= link_to 'No Ancher', class: 'edit_task_name' %>

   <%= link_to 'no', anchor: "" %>

    <%= link_to "link text", "#anchor" %>

   <%= link_to "Comment wall", projects_url( anchor: "wall") %>

   <%= link_to( "#", class: 'edit_task_name') do %>
        <i class="fa fa-pencil">path|</i>
      <% end %>
  <%= link_to "my-privacy", "#privacy" %>

 <div class=“my_clacc”>
      <%= link_to 'Hello', '#' %>
    </div> =======>>>>> transform to <div class=“my_class”>
      <a href="#">Hello</a>
    </div>
