Edit view
<%=  form_for @project, url: project_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.text_field :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
