<h1 align="center"><strong>SIMPLE TODO LIST</strong></h1>
<h3 align="center">FROM RUBY GARAGE</h3>
<br><br>
<% @projects.each do |p| %>
  <% if p.user == current_user %>
  <div>
    <%= p.id %>
    <%= p.name %>
  </div>
  <% end %>
<% end %>

<div id="projects-list">
  <%= render @projects %>
</div>

<br>

<div class="bottom-link" align="center">
  <%= link_to @project, method: :post, remote: true, id: "add-project", class: "btn btn-lg btn-primary blue-gradient shadow raised" do %>
    <i class="fa fa-plus"></i>
    Sasha
  <% end %>
</div>

<div align="center">
  <%= link_to @project, remote: true , method: :post, class: "btn btn-lg btn-primary" do %>
    <i class="fa fa-plus"></i>
      Add TODO List
  <% end %>
</div>
