<!DOCTYPE html>
<html>
<head>
  <title>RG Todo List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:success] %>
<%= flash[:notice] %>
<%= flash[:errors] %>

<div class="container">
  <div class="center-block col-lg-2" style="float: none;">
    <%= yield %>
  </div>
</div>

</body>
</html>
